.content{
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.container{
  margin: 0 auto;
  padding: 50px;
  
}

.input{
  background-color: #f2f2f2;
  color: #525252;
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #525252;
  outline: none;
}
.input:focus{
  background-color: #f2f2f2;
}


.btn{
  border: none;
  outline: none;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 0.7rem;
  color: #ffffff;
  border-radius: 3px;
  background-color: #084a90;
/*red: #E96469
  black: #525252
  gray: #E96166*/
}
.btn:hover{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
